{% load static %}
{% block content %}


<section class="page-section" id="services">
    <div class="container">
        <div class="row text-center">
            <h1 class="section-heading text-uppercase" >Add Rating</h1>
            <h3 class="section-subheading">Insert new rating by filling out the fields below</h3>
            <div class="col-md-4">
                <br><br>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x" style="color:#ffad33"></i>
                    <i class="fas fa-user fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">New Rating</h4>
                <form class="text-muted" method="post" action="{% url 'addreviews' %} ">
                    {% csrf_token %}
                    <label for="lFirstName">Landlord's First Name
                        <input type="text" id="lFirstName" name="lFirstName" maxlength="15" width="75px"></label><br><br>
                    <label for="lLastName">Landlord's Last Name</label>
                        <input type="text" id="lLastName" name="lLastName" width="75px"><br><br>
                    <label for="managementco">Management Company</label>
                        <input type="text" id="managementco" name="managementco" width="75px"><br><br>
                    <label for="propname">Property Name
                        <input type="text" id="propname" name="propname" maxlength="50" width="75px"></label><br><br>
                    <label for="streetaddress">Street Address</label>
                        <input type="text" id="streetaddress" name="streetaddress" width="75px" maxlength="50"><br><br>
                    <label for="city">City</label>
                        <input type="text" id="city" name="city" width="75px"><br><br>
                    <label for="state">State</label>
                        <input type="text" id="state" name="state" width="75px" maxlength="2"><br><br>
                    <label for="zip">Zipcode</label>
                        <input type="text" id="zip" name="zip" width="10px"><br><br>
                    <label for="gender" style="text-align: left;">Gender    
                        <select name="gender" id="listGender" width="75px">
                            <option value="M">M</option>
                            <option value="F">F</option>
                        </select>
                    </label>
                    <br><br> 
                    <label for="credentials" style="text-align: left;">Credentials    
                    <select name="credentials" id="credentials" width="75px">
                        {% for cred in credentialName %}
                        <option value="{{ cred.Credential }}">{{ cred.Credential }}</option>
                        {% endfor %}
                    </select></label>
                    <br><br>
                    <label for="state" style="text-align: left;">State    
                    <select name="state" id="state" width="75px">
                        {% for state in stateName %}
                        <option value="{{ state.stateabbrev }}">{{ state.stateabbrev }}</option>
                        {% endfor %}
                    </select></label>
                    <br><br>
                    <label for="specialty">Specialty</label>
                    <input type="text" id="specialty" name="specialty" width="75px">
                    <br><br>
                    <label for="totalPrescriptions" style="text-align: left;">Total Prescriptions    
                    <input type="number" id="totalPrescriptions" name="totalPrescriptions"></label>
                    <br><br>
                    <label for="opioidPrescriber" style="text-align: left;">Is Opioid Prescriber?     
                        <select name="opioidPrescriber" id="opioidPrescriber" width="75px">
                            <option value="True">True</option>
                            <option value="False">False</option>
                        </select></label>
                        <br><br>
                    <button type="submit" class="btn btn-primary" style="background-color: #ffad33">Add Prescriber</button>
                </form>

            </div>
        </div>
    </div>
</section>
{% endblock %}